.like-button .heart-icon {
  height: 100px;
  width: 100px;
  background: url("heart.png");
  background-position: left;
  cursor: pointer;
  position: absolute;
}

.like-button .heart-icon.liked {
  animation: like-anim 1.0s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.image {
  height: 400px;
  width: 400px;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  float: left;
  border-radius: 10%;
}

.image2 {
  height: 400px;
  width: 400px;
  max-width: 70px;
  max-height: 90px;
  overflow: hidden;
  float: left;
  border-radius: 10%;
}

.like-button .heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
}

.like-button .heart-bg:hover {
  background: rgba(255, 192, 200, 0.7);
}

.like-button {
  display: inline;
  align-items: right;
  float: right;
}

.like-button .likes-amount {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #888;
  font-weight: 900;
  margin-left: 6px;
}


.rating {
  display: inline-block;
  font-size: 0;
  position: relative;
  text-transform: capitalize;
  padding: 0 20px 8px;
  color: gray;
}

.note {
  float: right;
  padding: 0;
  font-size: 40px;
  cursor: pointer;
}

.note::before {
  content: "\2606";
  padding-bottom: 8px;
  display: inline-block;
  transition: 0.2s;
}

span {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 10px;
  font-size: 1rem;
  white-space: nowrap;
  transition: 0.15s ease-out;
  pointer-events: none;
  letter-spacing: -2px;
  transform: translateY(-50%);
}

.note:hover span {
  opacity: 1;
  transform: none;
  letter-spacing: 0;
}

input:checked~.note::before {
  content: "\2605";
  color: orange;
  filter: drop-shadow(0 0 4px);
  transform: rotate(.2turn);
  transition-delay: calc(0.1 * attr(data-idx integer));
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

section {
  display: inline-block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.form-box {
  position: relative;
  width: 400px;
  height: 550px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;

}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

h3,
h4 {
  font-size: 1em;
  color: #fff;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

input:focus~label,
input:valid~label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.forget label input {
  margin-right: 3px;

}

.forget label a {
  color: #fff;
  text-decoration: none;
}

.forget label a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.register {
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #fff;
}

.form-box2 {
  position: relative;
  width: 80%;
  height: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.form-box25 {
  position: relative;
  display: inline-block;
  width: 70%;
  height: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
}

.form-box0 {
  position: relative;
  float: left;
  margin: 2%;
  width: 20%;
  height: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
}

.conteneur {
  display: flex;
  clear: both;
}


p,
label {
  color: #fff;
}

#prix,
#categorie,
#difficulte {
  display: inline;
}

#prix {
  float: right;
  margin-right: 2%;
}

#categorie {
  float: left;
  margin-left: 2%;
}

textarea {
  position: relative;
  width: 70%;
  height: 50%;
  background: transparent;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

abbr {
  color: #fff;
}

ul {
  color: #fff;
}
